.contactImg{
    background-image: url("../../../public/img/contactus.jpg");
    margin-bottom: 5rem;
}

.contactHeadTextMain{
    font-size: 3rem;
    font-weight: 500;
}

.contactHeadMain{
    padding-top: 20rem;
    text-align: center;
}

.agentRightMainContentText{
    font-size: 0.95rem;
}

.aboutWelcome{
    display: flex;
    margin-left: 10rem;
    margin-right: 10rem;
}

.aboutWelcomeText{
    width: 50%;
}

.aboutWelcomeImg{
    width: 50%;
    margin-left: 2rem;
}

.aboutPost{
    display: flex;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
}

.aboutPostText{
    width: 50%;
    padding: 0rem;
    margin-left: 2.5rem;
}

.aboutPostImg{
    width: 50%;
    height: 10%;
}

.aboutHeading{
    font-size: 2.5rem;
    font-weight: 500;
}

.aboutusVision{
    display: flex;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
}

.aboutusVisionLeft{
    width: 50%;
}

.aboutusVisionRight{
    width: 50%;
}


.aboutusTimelineInner{
    padding-left: 9rem;
    padding-right: 9rem;
}

.agentRightMainContentHead{
    font-weight: 400;
}

.aboutusMission{
    display: flex;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
}

@media screen and (max-width: 900px) {

        .aboutWelcome{
            flex-direction: column-reverse;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        .aboutWelcomeImg{
            margin-left: 0rem;
            margin-bottom: 0.5rem;
            width: 100%;
        }
        .aboutWelcomeText{
            width: 100%;
        }
        .aboutHeading{
            font-size: 2rem;
        }
        .aboutPost{
            flex-direction: column;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        .aboutPostImg{
            width: 100%;
            margin-left: 0rem;
        }
        .aboutPostText{
            width: 100%;
            margin-left: 0rem;
        }
        .aboutusTimelineInner{
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .aboutusVision{
            flex-direction: column;
            margin-left: 2rem;
            margin-right: 2rem;
            margin-top: 1rem;
        }
        .aboutusVisionLeft{
            width: 100%;
        }

        .aboutusVisionRight{
            width: 100%;
        }
        .aboutusMission{
            flex-direction: column-reverse;
            margin-left: 2rem;
            margin-right: 2rem;
            margin-top: 1rem;
        }
}
