.actiivetab{
  border: 3px solid rgb(63 131 248 / var(--tw-bg-opacity)) !important;
  background-color: lightgrey !important;

}
.activeMain{
  border-color: rgb(63 131 248 / var(--tw-bg-opacity)) !important;

}
.activeMain:after{
  border-color: rgb(63 131 248 / var(--tw-bg-opacity)) !important;

}

.verticalLine{
  left: 4% !important;
  /* margin-top: -10rem !important; */
}
.actiivetab{
border: 3px solid rgb(63 131 248 / var(--tw-bg-opacity)) !important;
background-color: lightgrey !important;

}
.activeMain{
border-color: rgb(63 131 248 / var(--tw-bg-opacity)) !important;

}
.activeMain:after{
border-color: rgb(63 131 248 / var(--tw-bg-opacity)) !important;

}

.verticalLine{
left: 4% !important;
/* margin-top: -10rem !important; */
}

.propertyContainer {
display: flex;
gap: 1rem; /* Adjust the gap as needed */
margin-right: 1rem;

}

.column1 {
flex: 0 0 30%;
height: 100%;
}

.column2 {
flex: 0 0 70%;
height: 550px;
overflow-x: hidden;
overflow-y: auto;
padding-top: 1rem;
padding-left: 1rem;
padding-right: 1rem;


}



