.divideDetailPage{
    margin-left: 14rem;
    margin-right: 14rem;
    margin-top: 7rem;
}

.builderTop{
    padding-left: 1rem;
}
.secondContent{
    margin-left:1rem;
}

.propertiesByAreaMainHead{
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.builderDetailPage{
    display: flex;
    margin-left: 15.2rem;
    margin-right: 15.2rem;
}

.builderDetailPageLeft{
    width: 35%;
    padding-right: 1rem;
}

.builderDetailPageRight{
    width: 73%;
}

.builderBox{
    border:1px solid #D1D5DB;
    border-radius: 0.35rem;
 }

.builderline{
    border-bottom:1px solid #D1D5DB;
}


.builderInputField{
    padding: 1rem; 
    
}

.crousalItemSearchInput{
    border-radius: 5rem;
}

.builderDetailBuilderRight{
    border:1px solid #D1D5DB;
    border-radius: 0.35rem 0.35rem 0 0;
    padding:2rem;
    display:flex;
}

.builderImgBuilder{
    border-radius:50%;
    height:7rem;
    width:7rem;
}

.builderDetailPageDown{
    border:1px solid #D1D5DB;
    border-radius:0 0 0.35rem 0.35rem;
    border-top:none;
    padding: 1rem;
}

.builderSocialLine{
    display:flex;
}

.builderSocialLine{
    justify-content: space-between;
}

.builderDetailDropDown{
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-right: 1.5rem;
}

.builderTopRight{
    font-size: 0.75rem;
    font-weight: 600;
    color: gray;
}

.builderLogoImg{
    aspect-ratio: 2/2;
    border-radius: 50%;
    margin-left: 3rem;
}

.builderMapDetails{
    padding: 1rem;
}

.builderRightImg{
    aspect-ratio: 3 / 2;
    width: 50%;
    border-radius: 0.35rem;
}

.builderRightMainBox{
    border:1px solid #D1D5DB;
    border-radius: 0.35rem;
}

.cardImgBottom{
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .builderDetailPage{
        display: block;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .builderDetailPageRight{
        width: 100%;
        margin-bottom: 2rem;
    }
    .builderDetailPageLeft{
        width: 100%;
    }

    .divideDetailPage{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 7rem;
    }

    .builderHunter{
        justify-content: flex-start;
    }

    .builderInputField{
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .builderInputField{
        display: block;
    }
}