.admintext{
    color: white;
    font-weight: bolder;

}
.inactiveTab{
    color: white !important;
}
.tabText{
    color: white;
}
.activeTab{
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    color: black !important;
}
.inactiveTab:hover {
    color: black !important;
}
.inactiveTab:hover .tabSvg {
    color: black !important;
}

.sidebarMain{
    background-color: #2b4ac7 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}
.logobox{
    background-color: #0a1c2ab3;
    border-radius: 10px;
}
.sidebarBottomImgdiv{
    margin-right: -1rem;
    /* margin-left: -1rem; */

} 

.navText{
    font-family: "Merriweather", serif;
    /* font-weight: 900 !important; */
    font-style: normal;
}
