.loginMain {
    background-color: #6592D3 !important;
  }
  .signInBtn{
    background-color: #2b4ac7 !important;
  
  }
  .eyeButton{
    top: 1.8rem;
    font-weight: bolder !important;
  }
  
  .mt7{
      margin-top: 4rem;
  }
  @media (min-width: 1200px) {
    .loginBoxMain {
      width: 32%;
    }
  }
  @media (max-width: 1200px) {
    .loginBoxMain {
      width: 100%;
    }
  }
  